/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 9, 2024, 12:40:55 AM
    Author     : ADMIN
*/



.card-text {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    padding: 10px;
    z-index: 1;  
}

